img {
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc
}
.header-container {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.header-list{
    display: flex;
    gap: 40px;
}
.header-nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.contact-list {
    display: flex;
    gap: 40px;
}
.head-title {
    max-width: 496px;
}
.blue-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}
.nav .header-nav:hover,
.nav .header-nav:focus{
    color: #404bbf;

}
.contact-address {
    font-style: normal;
}
.contact-address .contact {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.contact-address .contact:hover,
.contact-address .contact:focus {
    color: #404bbf;
}
.section .features {
    background-color: #2e2f42;
}
.main-container {
    display: flex;
}
.main-section {
    background-color: #2e2f42;
    padding: 188px 0;
}
.main-section .head-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.main-section .blue-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.main-section .blue-button:hover,
.main-section .blue-button:focus {
    background-color: #404bbf;
    cursor: pointer;
}
.about-section {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.about-list {
    display:  flex;
    gap: 24px;
}
.about-item {
    width: calc((100% - 72px) / 4);
}
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.team-card {
    background-color: #f4f4fd;
    padding: 120px 0;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-cards {
    background-color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.card-title{
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.portfolio-section {
    padding: 120px 0;
}
.card-content {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    padding: 32px 0;
}
.team-cards {
    text-align: center;
    margin-bottom: 8px;
}
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-content {
    flex-basis: calc((100% - 72px) / 4);
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.portfolio-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-text-content{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-span {
    color: #F4F4FD;
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}